<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @datum.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @datum.state %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
